/* Styles de base pour le formulaire de création de quiz */
form {
  max-width: 600px;
  margin: auto;
  padding: 1em;
  border-radius: 5px;
  background: #f9f9f9;
}

label {
  margin-top: 1em;
  display: block;
  font-weight: bold;
}

input[type="text"], input[type="checkbox"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5em;
  width: 100%;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

button {
  margin-top: 1em;
  padding: 0.7em;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

button[type="button"] {
  background: #dc3545;
}

button[type="button"]:hover {
  background: #c82333;
}
