<div class="row column4 graph justify-content-center">
  <div class="col-md-8">
     <div class="dash_blog">
        <div class="dash_blog_inner">
          <div class="dash_head">
            <h3><span>User profile</span></h3>
</div>
<div class="row column1">
  <div class="col-md-2"></div>
  <div class="col-md-8">

  <form (ngSubmit)="updateProfile()" enctype="multipart/form-data">
    <!-- Full Name -->
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" [(ngModel)]="user.fullName" name="fullName" class="form-control" required>
    </div>

    <!-- Phone -->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" [(ngModel)]="user.phone" name="phone" class="form-control" required>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" class="form-control" required>
    </div>

    <!-- Nationality -->
    <div class="form-group">
      <label for="nationality">Nationality</label>
      <input type="text" id="nationality" [(ngModel)]="user.nationality" name="nationality" class="form-control">
    </div>

    <!-- Date of Birth -->
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" class="form-control">
    </div>

    <!-- Address -->
    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" id="address" [(ngModel)]="user.address" name="address" class="form-control">
    </div>

    <!-- Department -->
    <div class="form-group">
      <label for="department">Department</label>
      <input type="text" id="department" [(ngModel)]="user.department" name="department" class="form-control">
    </div>

    <!-- Gender -->
    <div class="form-group">
      <label for="gender">Gender</label>
      <select id="gender" [(ngModel)]="user.gender" name="gender" class="form-control">
        <option value="" disabled>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control">
      <small class="form-text text-muted">Leave blank if you don't want to change the password.</small>
    </div>

 <!-- Profile Image -->
<div class="form-group">


  <!-- Custom styled file input -->
  <label for="file" class="labelFile">
    <span>
      <svg
        xml:space="preserve"
        viewBox="0 0 184.69 184.69"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2000/svg"
        id="Capa_1"
        version="1.1"
        width="60px"
        height="60px"
      >
        <g>
          <g>
            <g>
              <path
                d="M149.968,50.186c-8.017-14.308-23.796-22.515-40.717-19.813
                C102.609,16.43,88.713,7.576,73.087,7.576c-22.117,0-40.112,17.994-40.112,40.115c0,0.913,0.036,1.854,0.118,2.834
                C14.004,54.875,0,72.11,0,91.959c0,23.456,19.082,42.535,42.538,42.535h33.623v-7.025H42.538
                c-19.583,0-35.509-15.929-35.509-35.509c0-17.526,13.084-32.621,30.442-35.105c0.931-0.132,1.768-0.633,2.326-1.392
                c0.555-0.755,0.795-1.704,0.644-2.63c-0.297-1.904-0.447-3.582-0.447-5.139c0-18.249,14.852-33.094,33.094-33.094
                c13.703,0,25.789,8.26,30.803,21.04c0.63,1.621,2.351,2.534,4.058,2.14c15.425-3.568,29.919,3.883,36.604,17.168
                c0.508,1.027,1.503,1.736,2.641,1.897c17.368,2.473,30.481,17.569,30.481,35.112c0,19.58-15.937,35.509-35.52,35.509H97.391
                v7.025h44.761c23.459,0,42.538-19.079,42.538-42.535C184.69,71.545,169.884,53.901,149.968,50.186z"
                style="fill:#010002;"
              ></path>
            </g>
            <g>
              <path
                d="M108.586,90.201c1.406-1.403,1.406-3.672,0-5.075L88.541,65.078
                c-0.701-0.698-1.614-1.045-2.534-1.045l-0.064,0.011c-0.018,0-0.036-0.011-0.054-0.011c-0.931,0-1.85,0.361-2.534,1.045
                L63.31,85.127c-1.403,1.403-1.403,3.672,0,5.075c1.403,1.406,3.672,1.406,5.075,0L82.296,76.29v97.227
                c0,1.99,1.603,3.597,3.593,3.597c1.979,0,3.59-1.607,3.59-3.597V76.165l14.033,14.036
                C104.91,91.608,107.183,91.608,108.586,90.201z"
                style="fill:#010002;"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </span>
    <p>click to select your image!</p>
  </label>

  <input class="input" id="file" type="file" (change)="select($event)" />
  
</div>


    <!-- Submit Button -->


    <div class="read_more">
      <div class="center"> <button  class="main_bt read_bt" type="submit">Update Profile</button></div>

    </div>


  </form>

</div>
</div>
</div>
<div class="col-md-2"></div>




