<div class="cv-container">
  <div class="cv-section">
    <div class="cv-header">
      <h3>Experience</h3>
      <button mat-icon-button color="primary" class="add-experience-btn" (click)="openExperienceDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    
    
    <div *ngIf="experiences.length === 0" class="no-experience">
      No experiences available. Please add one.
    </div>

    <div *ngFor="let experience of experiences" class="experience-item">
      <div class="experience-header">
        <h4>{{experience.job}} at {{experience.company}}</h4>
        <div class="experience-actions">
          <button (click)="editExperience(experience)" class="edit-btn">✏️</button>
          <button (click)="deleteExperience(experience._id || '')" class="delete-btn">🗑️</button>
        </div>
      </div>
      <div class="experience-dates">
        {{experience.start_date | date: 'MMM yyyy'}} - {{experience.end_date | date: 'MMM yyyy'}}
      </div>
      <p class="experience-description">{{experience.description}}</p>
    </div>
    
    <div class="cv-section">
      <div class="cv-header">
        <h3>Projects</h3>
        <button mat-icon-button color="primary" class="add-project-btn" (click)="openProjectDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
  
      <div *ngIf="projects.length === 0" class="no-project">
        No projects available. Please add one.
      </div>
  
      <div *ngFor="let project of projects" class="project-item">
        <div class="project-header">
          <h4>{{project.title}} at {{project.organisation}}</h4>
          <div class="project-actions">
            <button (click)="editProject(project)" class="edit-btn">✏️</button>
            <button (click)="deleteProject(project._id || '')" class="delete-btn">🗑️</button>
          </div>
        </div>
        <div class="project-dates">
          {{project.date | date: 'MMM yyyy'}}
        </div>
        <p class="project-description">{{project.description}}</p>
      </div>
    </div>
    
  
  </div>

