/* Styles communs pour les sections CV */
.cv-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.cv-section {
  margin-bottom: 20px;
}

/* Styles pour les items de l'expérience */
.experience-item,
.project-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Styles pour l'en-tête de l'expérience et du projet */
.experience-header,
.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Actions pour l'expérience et le projet */
.experience-actions button,
.project-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Dates pour l'expérience et le projet */
.experience-dates,
.project-dates {
  color: #888;
  font-size: 14px;
}

/* Description pour l'expérience et le projet */
.experience-description,
.project-description {
  margin-top: 10px;
  color: #555;
}

/* Styles pour l'en-tête de chaque section */
.cv-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cv-header h3 {
  margin: 0;
}

/* Bouton pour ajouter une expérience */
.add-experience-btn,
.add-project-btn {
  background-color: #ec580e; /* Couleur pour les boutons */
  color: white; /* Couleur de l'icône */
  border: none;
  width: 50px; /* Taille du bouton */
  height: 50px;
  border-radius: 50%; /* Rendre le bouton circulaire */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un effet de profondeur */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-experience-btn:hover,
.add-project-btn:hover {
  transform: scale(1.1); /* Agrandir légèrement le bouton au survol */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Accentuer l'ombre au survol */
}

.add-experience-btn mat-icon,
.add-project-btn mat-icon {
  font-size: 24px; /* Taille de l'icône */
}
