<div class="row column4 graph justify-content-center">
  <div class="col-md-8">
    <div class="dash_blog">
        <div class="dash_blog_inner">

          <div class="dash_head">
<h3><span> Assign Quiz to Internship Offer </span></h3>
          </div>
  <div class="form-group">
    <label for="offer">Select Offer</label>
    <select id="offer" class="form-control" [(ngModel)]="selectedOfferId" name="offer">
      <option *ngFor="let offer of offers" [value]="offer._id">{{ offer.title }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="quiz">Select Quiz</label>
    <select id="quiz" class="form-control" [(ngModel)]="selectedQuizId" name="quiz">
      <option *ngFor="let quiz of quizzes" [value]="quiz._id">{{ quiz.description }}</option>
    </select>
  </div>


  <div class="read_more">
    <div class="center"> <button  class="main_bt read_bt" (click)="assignQuiz()">Assign Quiz</button></div>

  </div>
</div>
