
<div class="row column4 graph justify-content-center">
  <div class="col-md-8">
     <div class="dash_blog">
        <div class="dash_blog_inner">
          <div class="dash_head">
            <h3><span> Create Internship Offer </span></h3>
</div>
<div class="container">

  <form (ngSubmit)="createOffer()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" class="form-control" [(ngModel)]="offer.title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" class="form-control" [(ngModel)]="offer.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <label for="technologies">Technologies</label>
      <input type="text" id="technologies" class="form-control" [(ngModel)]="offer.technologies" name="technologies" required>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" class="form-control" [(ngModel)]="offer.startDate" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" class="form-control" [(ngModel)]="offer.endDate" name="endDate" required>
    </div>

    <div class="form-group">

    <div class="list_cont">


      <div *ngFor="let task of offer.task; let i = index" class="task-group">
        <h5>Task {{ i + 1 }}</h5>
        <div class="form-group">
          <label for="taskTitle{{i}}">Title</label>
          <input type="text" id="taskTitle{{i}}" class="form-control" [(ngModel)]="task.title" name="taskTitle{{i}}" required>
        </div>
        <div class="form-group">
          <label for="taskDescription{{i}}">Description</label>
          <textarea id="taskDescription{{i}}" class="form-control" [(ngModel)]="task.description" name="taskDescription{{i}}" required></textarea>
        </div>
        <div class="form-group">
          <label for="taskStatus{{i}}">Status</label>
          <input type="text" id="taskStatus{{i}}" class="form-control" [(ngModel)]="task.status" name="taskStatus{{i}}" required>
        </div>
        <div class="form-group">
          <label for="taskStartDate{{i}}">Start Date</label>
          <input type="date" id="taskStartDate{{i}}" class="form-control" [(ngModel)]="task.startDate" name="taskStartDate{{i}}" required>
        </div>
        <div class="form-group">
          <label for="taskEndDate{{i}}">End Date</label>
          <input type="date" id="taskEndDate{{i}}" class="form-control" [(ngModel)]="task.endDate" name="taskEndDate{{i}}" required>
        </div>
        <button type="button" class="btn btn-danger" (click)="removeTask(i)"><div class="fw_icon"><i class="fa fa-minus"></i>  Task</div></button>
      </div>
    </div>
    <div class="button_block question_button"><button type="button" class="btn cur-p btn-info" (click)="addTask()">  <div class="fw_icon"><i class="fa fa-plus"></i> Task</div></button></div>
    </div>


    <div class="read_more">
      <div class="center"> <button  class="main_bt read_bt" type="submit">Create offer</button></div>

    </div>
  </form>
</div>
