.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Dark semi-transparent background */
  z-index: 1000;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal-content label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.modal-content input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content button {
  background-color: #3da825;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button[type="button"] {
  background-color: #f8650a;
  margin-left: 10px;
}

.modal-content button:hover {
  background-color: #3da825; /* Darker blue on hover */
}

.modal-content button[type="button"]:hover {
  background-color: #f8650a; /* Darker red on hover */
}
