
li span {

  color: #3da825;
}

li span.not-approved  {
  color: #de6114;

}
li {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  justify-content: space-between;

}










