<div class="row column4 graph justify-content-center">
  <div class="col-md-8">
    <div class="dash_blog">
        <div class="dash_blog_inner">

          <div class="dash_head">
          <h3><span> Internship Offers </span></h3>
          </div>

  <div *ngFor="let offer of offers" class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ offer.title }}</h5>
      <p class="card-text">{{ offer.description }}</p>
      <p class="card-text"><strong>Technologies:</strong> {{ offer.technologies }}</p>
      <p class="card-text"><strong>Start Date:</strong> {{ offer.startDate | date }}</p>
      <p class="card-text"><strong>End Date:</strong> {{ offer.endDate | date }}</p>

      <h6>Tasks</h6>
      <ul>
        <li *ngFor="let task of offer.task">
          <strong>{{ task.title }}</strong>: {{ task.description }} ({{ task.startDate | date }} - {{ task.endDate | date }})
        </li>
      </ul>

      <a  *ngIf="isIntern" [routerLink]="['/home/apply-internship', offer._id]" class="btn btn-primary">Take Quiz</a>
    </div>
  </div>
</div>
