/* Reset box-sizing for all elements */
* {
  box-sizing: border-box;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Base body styling */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: #1a1a2e; /* Dark background color */
  color: #ffffff;
  letter-spacing: 1px;
  transition: background 0.2s ease;
}

/* Link styling */
a {
  text-decoration: none;
  color: #ffffff;
}

/* Heading styling */
h1 {
  font-size: 2.5rem;
}

/* Center container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login container styling */
.login-container {
  display: flex;
  justify-content: center; /* Center the form-container horizontally */
  align-items: center;
  width: 50rem; /* Adjusted width */
  height:auto;
  padding: 2rem;
  background: #1a1a2e;

  position: relative;
  overflow: hidden; /* Assurez-vous que l'image ne dépasse pas du conteneur */
  border: 1px solid hsla(0, 0%, 65%, 0.158);
  box-shadow: 0 0 36px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Form content styling */
.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;

  text-align: center; /* Center text inside container */
}

/* Form container styling */
.form-container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 2rem;
  width: 100%;
  max-width: 30rem; /* Restrict max width */
  margin: 0 auto; /* Center horizontally */
}

/* Progress container styling */
.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
}

/* Progress bar styling */
.progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  background-color: #0f3460; /* Blue */
  transition: width 0.3s;
  transform: translateY(-50%);
  z-index: 1;
  width: 0;
}

/* Step styling */
.step {
  width: 24px;
  height: 24px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

/* Active step styling */
.step.active {
  background-color: #0f3460; /* Blue */
}

/* Input field styling */
.login-container form input:not([type="file"]) {
  display: block;
  padding: 14px;
  width: 100%;
  margin: 1.5rem 0; /* Adjusted spacing */
  color: #ffffff;
  outline: none;
  background-color: rgba(145, 145, 145, 0.12); /* Adjusted color */
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.8px;
  font-size: 15px;
  backdrop-filter: blur(10px);
}

/* Focused input styling */
.login-container form input:focus {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  animation: wobble 0.3s ease-in;
}

/* Button container styling */
.button-container {
  display: flex;
  justify-content: space-between;
}





.btn-reg.next {
  position: relative;
  padding: 13px 30px;
  background: #de752b;
  font-size: 15px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #de752b;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 29px;
}

.btn-reg.next .star-1, .btn-reg.next .star-2, .btn-reg.next .star-3,
.btn-reg.next .star-4, .btn-reg.next .star-5, .btn-reg.next .star-6 {
  position: absolute;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.btn-reg.next .star-1 {
  top: 20%;
  left: 20%;
  width: 25px;
}

.btn-reg.next .star-2 {
  top: 45%;
  left: 45%;
  width: 15px;
}

.btn-reg.next .star-3 {
  top: 40%;
  left: 40%;
  width: 5px;
}

.btn-reg.next .star-4 {
  top: 20%;
  left: 40%;
  width: 8px;
}

.btn-reg.next .star-5 {
  top: 25%;
  left: 45%;
  width: 15px;
}

.btn-reg.next .star-6 {
  top: 5%;
  left: 50%;
  width: 5px;
}

.btn-reg.next:hover {
  background: transparent;
  color: #de752b;
  box-shadow: 0 0 25px #fec1958c;
}

.btn-reg.next:hover .star-1 {
  top: -80%;
  left: -30%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.btn-reg.next:hover .star-2 {
  top: -25%;
  left: 10%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.btn-reg.next:hover .star-3 {
  top: 55%;
  left: 25%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.btn-reg.next:hover .star-4 {
  top: 30%;
  left: 80%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.btn-reg.next:hover .star-5 {
  top: 25%;
  left: 115%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.btn-reg.next:hover .star-6 {
  top: 5%;
  left: 60%;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}












/* Button styling */
.btn {
  background-color: #0f3460; /* Orange */
  color: #ffffff;
  padding: 13px 30px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.1s ease-in-out;
  margin-top: 30px;

}

.btn.next {
  padding: 13px 40px; /* Augmentez la largeur de padding */
  min-width: 140px; /* Fixez une largeur minimale si nécessaire */
  text-align: center; /* Alignez le contenu au centre */
  margin-left: 15px;
}

.btn.back {
  padding: 13px 40px; /* Ajustez la largeur de padding pour correspondre au bouton Next */
  min-width: 140px; /* Fixez une largeur minimale si nécessaire */
  text-align: center; /* Alignez le contenu au centre */
  display: inline-flex; /* Assurez que l'icône et le texte soient alignés horizontalement */
  align-items: center; /* Centrez verticalement */
  margin-right: 15px;
}

.btn .fw_icon {
  display: inline-flex; /* Alignez l'icône et le texte sur la même ligne */
  align-items: center; /* Centrez verticalement */
}

.btn .fw_icon i {
  margin-right: 8px; /* Ajoutez un espace entre l'icône et le texte pour Back */
  margin-left: 8px; /* Ajoutez un espace entre le texte et l'icône pour Next */
}




/* Button hover effect */
.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}



/* Illustration styling */
.illustration {
  width: 40%; /* Augmentez la largeur selon vos besoins */
  height: auto; /* Ajuste automatiquement la hauteur pour maintenir les proportions */
  margin-left: 2rem; /* Ajustez ou supprimez si nécessaire */
}

/* Register and forget password section */
.register-forget {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

/* Opacity styling */
.opacity {
  opacity: 0.6;
}

/* Theme button container styling */
.theme-btn-container {
  position: absolute;
  left: 0;
  bottom: 2rem;
}

/* Theme button styling */
.theme-btn {
  cursor: pointer;
  transition: width 0.3s ease-in;
}

/* Theme button hover effect */
.theme-btn:hover {
  width: 40px !important;
  transition: width 0.3s ease-in;
}

/* Keyframes for wobble animation */
@keyframes wobble {
  0%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.025);
  }
}

/* Hidden file input */
.input {
  max-width: 190px;
  display: none;
}

/* File label styling */
.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100px; /* Reduced height */
  border: 2px dashed rgba(145, 145, 145, 0.12); /* Adjusted color */
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

/* File label hover effect */
.labelFile:hover {
  background-color: rgba(145, 145, 145, 0.12);
  border-color: #0f3460;
  color: #0f3460;
}





.select-wrapper {
  position: relative;
}

.custom-select {

  height: 50px;
  padding: 4px 14px; /* Adjust to fit */
  line-height: 40px;
  font-size: 14px;
  width: 100%;
  color: #ffffff; /* Text color */
  background-color: rgba(145, 145, 145, 0.12); /* Background color */
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.8px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;

}

.custom-select::after {
  content: '\25BC'; /* Down arrow */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ffffff; /* Arrow color */
}

.custom-select option {
  background-color: #1a1a2e; /* Options background color */
  color: #ffffff; /* Options text color */
}

.custom-select option:checked {
  background-color: #0f3460; /* Selected option background */
  color: #ffffff; /* Selected option text */
}

.custom-select::-ms-expand {
  display: none; /* Hide expand icon in IE */
}




