<div class="row column1">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="white_shd full margin_bottom_30">
      <div class="full graph_head">
        <div class="heading1 margin_0">
          <h2>User profile</h2>
        </div>
      </div>
      <div class="full price_table padding_infor_info">
        <div class="row">
          <div class="col-lg-12">
            <div class="full dis_flex center_text">
              <div class="profile_img">
                <img width="180" class="rounded-circle" [src]="'http://127.0.0.1:3000/getimage/' + user.image">
              </div>

              <div class="profile_contant">
                <div class="contact_inner">
                  <h3>{{user.fullName}}</h3>
                  <p><strong>About:</strong> {{user.role}}</p>
                  <ul class="list-unstyled">
                    <p><strong>Date of Birth:</strong> {{user.dateOfBirth}}</p>
                    <li><i class="fa fa-envelope-o"></i> : {{user.email}}</li>
                    <li><i class="fa fa-phone"></i> : {{user.phone}}</li>
                    <p><strong>Nationality:</strong> {{user.nationality}}</p>
                    <p><strong>Address:</strong> {{user.address}}</p>
                    <p><strong>Department:</strong> {{user.department}}</p>
                    <p><strong>Gender:</strong> {{user.gender}}</p>
                    <p><strong>Creation Date:</strong> {{user.creationDate | date}}</p>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-actions">
          <button class="main_bt read_bt" [routerLink]="['/home/update-profile', user._id]">Update Profile</button>
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
