/* Container styling */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
  background: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Label styling */
label {
  margin-bottom: .5em;
  color: #333333;
  display: block;
  font-weight: bold;
}

/* Input styling */
input[type="text"],
input[type="date"],
textarea {
  border: 1px solid #cccccc;
  padding: .5em;
  font-size: 1em;
  width: calc(100% - 1em);
  margin-bottom: 1em;
  border-radius: 3px;
}

/* Button styling */
button {
  padding: 0.7em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Error message styling */
div.ng-invalid.ng-touched {
  color: #e74c3c;
  font-size: 0.875em;
}
