<div class="row column4 graph justify-content-center">
  <div class="col-md-8">
     <div class="dash_blog">
        <div class="dash_blog_inner">
          <div class="dash_head">
            <h3><span>Prove your skills and stand out for this internship! </span></h3>
</div>


<div class="quiz-container" *ngIf="quiz && selectedOffer">
  <h2>{{ selectedOffer.title }} Quiz</h2>

  <form (ngSubmit)="submitQuiz()">
    <div *ngFor="let question of quiz.questions; let i = index" class="question-block">
      <p><strong>{{ i + 1 }}. {{ question.text }}</strong></p>

      <div *ngFor="let response of question.responses" class="response-option">
        <input
          type="radio"
          [name]="'question' + i"
          [value]="response._id"
          (change)="updateResponse(i, response._id)"
          [id]="'response' + response._id"
          [checked]="responses[i].responseId === response._id"
        />
        <label [for]="'response' + response._id">{{ response.response }}</label>
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>
    <button type="submit" class="submit-button">
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              fill="currentColor"
              d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
            ></path>
          </svg>
        </div>
      </div>
      <span>Submit </span>
    </button>

  </form>
</div>

<div *ngIf="!quiz || !selectedOffer" class="loading-message">
  <p>Loading quiz details...</p>
</div>
<!-- Section pour afficher le score après la soumission -->
<div *ngIf="score !== null && quiz && quiz.questions" class="score-display">
  <h3>Your Score: {{ score }}/{{ quiz.questions.length }}</h3>
</div>

